init-author-email=develop@kurages.dev
init-author-name=kurages
init-author-url=https://kurages.dev/
init-license=MIT
init-version=2.0.0

scope=hiyocord

progress=false
engine-strict=true
if-present=true

